.DS_Store
.vscode/
bin/
.minishell_history
minishell
minishell.dSYM/
minishell.dSYM/Contents/
minishell.dSYM/Contents/Info.plist
minishell.dSYM/Contents/Resources/
minishell.dSYM/Contents/Resources/DWARF/
minishell.dSYM/Contents/Resources/DWARF/minishell
libs/
minishell_tester/
